Library/
Temp/
.vscode/
.vs/
obj/
Assets/AssetStoreTools/
Assets/AssetStoreTools.meta
Assets/Calligraphy/
Assets/Calligraphy.meta
Assets/Plugins/
Assets/Plugins.meta
Assets/StreamingAssets/
Assets/Support/
Assets/Support.meta
Assets/Tests/
Assets/Tests.meta