<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yusufolokoba.natshare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <receiver android:name=".ShareReceiver" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.natshare"
            android:grantUriPermissions="true"
            android:exported="false"
        >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
            />
        </provider>
    </application>

</manifest>
